cd-sad-venue {
  display: block;
}
.cd-sad-venue {
  display: flex;
  align-items: flex-start;
  align-content: space-around;
  flex-wrap: wrap;
  & > * {
    @media (min-width: @screen-sm-min) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  &__video {
    flex: 1;
    text-align: center;
    flex-basis: 100px;
    & > img {
      width: 100%;
    }
    cd-dojo-map {
      display: block;
      padding-top: 16px;
    }
  }
  &__container {
    margin-top: 16px;
  }
  &__button-group {
    text-align: center;
  }
  &__side-form {
    flex: 1;
    flex-basis: @screen-xs-min;
    flex-wrap: wrap;
  }
  &__bottom-form {
    flex: 1;
    flex-basis: 100%;
  }
}
