.cd-dojo-actions {
  position: absolute;
  bottom: 13%;
  right: 1em;
  clear: both;
  width: 100%;
  text-align: right;
  a {
    color: @cd-white !important;
    background-color: @cd-green;
    margin-right: 1%;
    padding: 1em;
    display: inline-block;
  }
}
