.cd-action-bar-item {
    display: inline-block;
    padding: 12px;
    cursor: pointer;
    color: @cd-white;
    transition: background 0.2s ease-out;

    .fa {
      margin: 0 6px;
    }

    &:hover, &:active {
      color: @cd-white;
      text-decoration: none;
      background: tint(@cd-blue, 10%);
    }
}
