.claim-badge {
  margin-bottom: 35px;
  text-align: center;

  h4 {
    font-weight: 500;
  }

  label.validationMessage {
    color: @cd-red;
    margin-left: 10px;
  }

  input.has-error {
    border: 1px solid @cd-red;
  }
}
