.badge-list {
  h2 {
    text-align: center;
    border-bottom: 1px solid @cd-very-light-gray;
  }

  h3 {
    text-align: center;
  }

  .badge-container {
    text-align: center;
    margin: 0 25px;

    .badge-thumbnail {
      width: 100px;
    }
  }

  .badge-category-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .badge-tag-block {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
