---
version: 2
jobs:
  build:
    working_directory: ~/cp-zen-platform
    docker:
      - image: nodesource/node:0.10.45
        environment:
          NODE_ENV: testing
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Install npm zen
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          name: Install staging dependencies
          command: |
            if [ "$CIRCLE_BRANCH" = "staging" ]; then
              npm install --save cp-zen-frontend@staging cp-translations@staging
            fi
      - run:
          name: Tests
          command: npm run test
  deploy:
    working_directory: ~/cp-zen-platform
    docker:
      - image: golang:1.6.4
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install Docker client
          command: |
            set -x
            VER="17.03.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://get.docker.com/builds/Linux/x86_64/docker-"$VER".tgz
            tar -xz -C /tmp -f /tmp/docker-"$VER".tgz
            mv /tmp/docker/* /usr/bin
      - run:
          name: Deploy to K8
          command: GIT_SHA1="$CIRCLE_SHA1" GIT_BRANCH="$CIRCLE_BRANCH" ./.circleci/kube.sh
workflows:
  version: 2
  build-test-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - master
                - staging
