@success-color: #3c763d;
@error-color: #a94442;

@import './../components/cd-common/common/colors.less';
@import './../components/cd-common/common/_variables.less';

@tint-1: 20%;
@cd-light-blue: lighten(@cd-blue, @tint-1);;
@cd-light-green: lighten(@cd-green, @tint-1);
@cd-light-purple: lighten(@cd-purple, @tint-1);
@cd-gray: @cd-grey;
@cd-light-gray: @cd-light-grey;
@cd-very-light-gray: @cd-very-light-grey;

@cd-body-color-1: #2C9CFB;
@cd-body-color-2: #61C93F;
@cd-body-color-3: #2E7AC7;
@cd-body-color-4: #FBCC33;
@cd-body-color-5: @cd-body-color-1;
@cd-body-color-6: #FFA500;
@background-color: #EEEEEE;

@brand-primary: @cd-blue;
@brand-info: @cd-light-blue;

@state-success-bg: @cd-green;
@state-success-text: @cd-white;
@state-info-bg: @cd-blue;
@state-info-text: @cd-white;
@state-warning-bg: @cd-yellow;
@state-warning-text: @cd-gray;
@state-danger-bg: @cd-red;
@state-danger-text: @cd-red;

@red-invalid: #a94442;
@form-group-margin: 15px;
