@success-color: #3c763d;
@error-color: #a94442;

@cd-blue: #0093D5;
@cd-light-blue: lighten(@cd-blue, 15%);;
@cd-green: #49B749;
@cd-light-green: lighten(@cd-green, 15%);
@cd-yellow: #fbcc33;
@cd-orange: #FAA31A;
@cd-purple: #73449B;
@cd-light-purple: lighten(@cd-purple, 15%);
@cd-red: #9B1C20;
@cd-gray: #858585;
@cd-light-gray: #99999F;
@cd-very-light-gray: #eee;
@cd-white: #ffffff;
@cd-black: #000000;
@cd-box-shadow: 0px 5px 10px rgba(0,0,0,0.2);

@cd-body-color-1: #2C9CFB;
@cd-body-color-2: #61C93F;
@cd-body-color-3: #2E7AC7;
@cd-body-color-4: #FBCC33;
@cd-body-color-5: @cd-body-color-1;
@cd-body-color-6: #FFA500;
@background-color: #EEEEEE;

@state-success-bg: @cd-green;
@state-success-text: @cd-white;
@state-info-bg: @cd-blue;
@state-info-text: @cd-white;
@state-warning-bg: @cd-yellow;
@state-warning-text: @cd-gray;
@state-danger-bg: @cd-red;
@state-danger-text: @cd-red;
