#jQueryCookieDisclaimer {
  padding-top: 2px;
}
.cdbar {
  padding: 0px;
  font-size: 14px;
  height: 25px;
}
.cdbar .cdbar-text {
  width: 79.5em;
  margin: 0px;
}
.cdbtn {
  text-align: center;
  font-size: 12px;
  width: 14px;
  height: 14px;
  line-height: 8px;
  border-radius: 100%;
  padding: 0px 0px 1px 0px;
  font-weight: bold;
}