#jQueryCookieDisclaimer {
  padding-top: 2px;
}
.cdbar {
  padding: 0px;
  font-size: 14px;
  height: 25px;
}
.cdbar .cdbar-text {
  width: 79.5em;
  margin: 0px;
}
.cdbtn {
  line-height: 14px;
  padding: 0px 3px 1px 2px;
  margin: 0px;
}