
* {
  border-radius: 0px!important;
}

@cd-light-blue: #2c9cfb;
@cd-green: #61c93f;

body {
	background:white;
	font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', sans-serif;
}

p {
	font-size:13px;
}

h1 {
	font-size:28px;
	font-weight:bold;
}

h2 {
	font-size:24px;
	font-weight:bold;
}

ul {
	font-size:13px;
}

.footer-text {
  color:white;
}

.cd-container {
  background: white;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.cp-login {
	background: url(../img/main-bg.png) repeat-y #ffffff;
  box-shadow: 0 0 4px #bbbbbb;
  -moz-box-shadow: 0 0 4px #bbbbbb;
  -webkit-box-shadow: 0 0 4px #bbbbbb;
  min-height: 250px;
  overflow:auto;
  margin:0 auto;
  width:80%;
  margin-top:2.5em;
  padding:20px;
  #main {
    width: 590px;
  }
  #sidebar {
    float:right;
    .widget {
      width: 261px;
      padding: 0px 32px 45px;
    }
  }
  .register-btn {
    margin-top: 30px;
  }
}

label {
	display: inline-block;
	font-size:14px;
	text-align: left;
}
	​

.main-container {
    padding: 46px 100px 0 100px;
}

.cd-dashboard {
	background: white;
	padding: 20px;
	width: 100%;
	margin: 0 auto;
	margin-top: 10px;
  a {
    color:#315169;
  }
  .my-dojos {
    padding:20px;
  }
  .setup-dojo{
    padding:20px;

    .validationMessage{
      width:100%;
    }
  }
  .state-heading {
    font-weight:bold;
    margin-left:20px;
  }
  .start-dojo-wizard {
    margin-bottom:20px;
    .form-group input[type="checkbox"] {
      display: none;
    }
    .form-group input[type="checkbox"] + .btn-group > label span {
      width: 20px;
    }
    .form-group input[type="checkbox"] + .btn-group > label span:first-child {
      display: none;
    }
    .form-group input[type="checkbox"] + .btn-group > label span:last-child {
      display: inline-block;
    }
    .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
      display: inline-block;
    }
    .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
      display: none;
    }
    .glyphicon-info-sign {
      margin-top:7px;
    }
    .validationMessage {
      position: relative;
      width: 100%;
      text-align: left;
      line-height: 30px;
    }
    .terms-conditions-checkbox {
      .validationMessage {
        text-align:center;
      }
      label::before {
        position:relative;
      }
    }
    .gatherTeamChecklist {
      border: 1px dashed rgb(66, 139, 202);
      padding: 5px;
      margin:10px;
    }
  }
  .dojoWizardComplete {
    width:100%;
    background: #5cb85c;
    color:white;
    padding:10px;
    border-radius:5px;
  }
}

#charterForm {
  margin-top: 25px;
  .checkbox {
    label.validationMessage {
      font-weight: bold;
      margin-left: -25px;
    }
  }
}

.cd-dashboard2 {
  padding-right: 0;
  padding-left: 0;
}

.dojo-list-dashboard {
  min-height: 350px;
  margin:0 auto;
}

.cd-text-heading1 {
	color:black;
	font-size:20px;
}

.cd-border-bottom {
	padding-bottom:10px;
}

#cd-charter-text {
	width: 75%;
  min-width: 275px;
  margin: auto;
  input {
  	margin-bottom:15px;
  }
  ul {
    list-style-type: square;
    li {
      font-size: 15px;
      color: @cd-green;
      span {
        font-size: 13px;
        color: black;
      }
    }
  }
}

.cd-dojo-list-container {
  padding:30px;
}

.cd-create-dojo-container {
  padding:0px;
  .create-dojo-sidebar {
    position: relative;
    float: right;
    left: 20px;
  }
  .pre-game-warning {
    background-color: #FBF9E4;
    width: 550px;
    padding:10px;
    border:1px solid #FBEED5;
    border-radius:5px;
    margin-top:15px;
    span {
      font-size:15px;
      font-weight:bold;
    }
    p {
      padding-top:0px;
      color:#C09853;
    }
  }
  #createChampionForm {
    .preGameWarning {
      padding: 15px;
    }
    .form-group {
      margin-top:15px;
    }
    .pre-game-warning {
      width:100%;
    }
    label {
      text-align:right;
      padding-top: 5px;
    }
    textarea {
      margin-bottom: 10px;
    }
    legend {
      margin-top:20px;
    }
    .other-languages {
      margin-bottom:15px;
    }
    .venueInfoTextArea {
      margin-bottom:15px;
    }
    .cdReferenceOther {
      margin-bottom:15px;
    }
    .google-map {
      margin-top:15px;
    }
    .registerButton {
      margin-top: 30px;
    }
  }
  #createDojoForm {
    margin-top:20px;
    legend {
      margin-top: 35px;
      margin-botton: 20px;
    }
    .form-group {
      label {
        text-align: right;
        padding-top: 8px;
        margin-bottom: 15px;
      }
      p {
        color: #99999F;
      }
      .google-map {
        margin-top:15px;
      }
    }
    .info-button-container {
      text-align: left;
      margin-bottom: 35px;
      padding-top: 5px;
      .col-xs-10 {
        padding-right: 0px;
      }
      i.info-button {
        padding-right: 6px;
        padding-top: 5px;
        vertical-align: top;
      }
      .info-button-input {
        display: inline-block;
        width: calc(~'100% - 25px');
      }
      .control-label {
        margin-bottom: 0px;
      }
    }
    .create-dojo-checkbox {
      display: inline-block;
      .infoCheckbox {
        margin-top: 3px;
        display: inline-block;
      }
      label {
        padding-top: 8px;
      }
      .awesome-label {
        text-align: left;
        padding-top: 0px;
      }
    }
    .create-dojo-radios {
      label {
        padding-top:8px;
      }
      .awesome-label {
        text-align: left;
        padding-top: 0px;
        margin-bottom: 0px;
      }
    }
    #createDojoButton {
      margin-top: 30px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .info-button-container {
    .col-xs-10 {
      padding-left: 0px;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .infoCheckbox {
    padding-left: 35px;
  }
}

.cd-tabset {
  .nav.nav-tabs {
    color: #000000;
    width:80%;
    padding-left: 0;
    font-size: 18px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border:none;
    li {
      margin: 0 0px 0 0;
      a, a:hover, a:focus {
        font-size: 16px;
        font-weight: normal;
        border: none;
        cursor: pointer;
        color: #ffffff;
        padding-left:30px;
        padding-right:30px;
        border-radius: 0;
        margin-right: 0;
      }
      &.active {
        border: none;
        a, a:hover, a:focus {
          color: #FFFFFF;
          font-size: 16px;
          font-weight: normal;
          background-color:#46A0CA;
          box-shadow: none;
          margin-top: 0 !important;
          border-radius: 2px;
        }
      }
    }
  }
  .tab-content {
    padding-top: 20px;
    .tab-pane {
      &.active {
        border: none;
      }
    }
  }
}

.pointer {
  cursor:pointer;
}

.map-canvas { height: 360px; }

.dojo-detail {
  padding:20px;
  td {
    border:none !important;
    ul {
      padding-left:15px;
    }
  }
  .main {
    width: 590px;
  }
  .dojo-detail-sidebar {
    position: relative;
    float: right;
    left: 20px;
    .widget {
      padding-bottom:55px;
      .widget-block {
        padding-top:20px;
      }
    }
  }
}

#find-dojo-form #location {
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.ten-percent-width {
  width: 10%;
}

.manage-dojo-wrapper {
  padding: 20px
}

.done-btn {
  margin-top: 15px;
}

.validationMessage {
  position: relative;
  width: 200px;
  text-align: left;
  line-height: 30px;
}

.total-row {
  background-color: #ccc;
}

.padding-top-25 {
  padding-top: 25px;
}

.left-margin-10 {
  margin-left: 10px;
}

.start-dojo-wizard {
  .steps-indicator {
    margin: 90px 0 0 0;
    height: 30px;
    position: relative;
  }
  .steps-indicator.steps-4:before {
    left: 0%;
    right: 0%;
  }
  .steps-indicator li.done a:before {
    background-color: @cd-green;
  }
  .steps-indicator li.current a:before {
    background-color: @cd-light-blue;
  }
  .start-dojo-wizard-step {
    margin-bottom:30px;
  }
}

#manageDojos {
  .deleteCheckbox {
    label {
      padding-bottom: calc(~'100% - 6px');
    }
  }
}

.cd-grid-table {
  font-size: 13px;

  margin-bottom: 0px;

  tbody>tr>td {
    vertical-align: middle;
  }

  .form-control, .btn {
    font-size: 13px;
  }

  select {
    min-width: 120px;
  }
}

.green-text {
  color: #00FF00;
}

.topValign{
  vertical-align: top !important;
}

.sb-date-select {
  .sb-date-select-day {
    margin-right:10px;
  }
  .sb-date-select-month {
    margin-right:10px;
  }
  .sb-date-select-year {
    margin-right:10px;
  }
}

.checkbox label.control-label.has-error.validationMessage:before {
  content: none;
}

.badge-panel .caption h3 {
  font-size: 20px;
}

.panel-body.invite-parent-guardian-form {
  padding: 30px;
}

div.invite-button {
  padding-top: 10px;
}

div.status-wrapper {
  padding: 10px;
}

legend {
  font-size:16px;
}

div.parent-list ul {
  padding-top: 10px;
}

div.badges-category-container {
  margin-top: 20px;
}

div.badges-tag-container {
  margin-top:20px;
}

div.badge-container {
  width: 150px;
  height: 150px;
  margin: 25px;
  margin-top: 0px;
  display: inline-block;
  text-align: center;
}

img.badge-thumbnail {
  width: 150px;
}

.five-percent-width {
  width: 5%;
}

.btn-award-badge {
  background-color: #FF851B;
}

/* we want color schema in body to be different than color schema in header */
html body .cd-dashboard .cd-color-1 {
  background-color: #2C9CFB;
}
html body .cd-dashboard .cd-color-2 {
  background-color: #61C93F;
}
html body .cd-dashboard .cd-color-3 {
  background-color: #2E7AC7;
}
html body .cd-dashboard .cd-color-4 {
  background-color: #FBCC33;
}
html body .cd-dashboard .cd-color-5 {
  background-color: #2C9CFB;
}
html body .cd-dashboard .cd-color-6 {
  background-color: #FFA500;
}
.btn-primary {
  /* currently we want buttons to be cd-color-5 */
  background-color: #2C9CFB;
}

html .container .cd-accordion {
  margin: 3%;
  overflow: auto;

  .panel-heading {
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
    overflow: auto;

    h4 {
      display: inline-block;
      width: 85%;
    }
  }
  .in {
    padding-top: 15px;
  }
  .panel-title {
    font-size: 20px;
    color: white;
  }
  label {
    font-size: 18px;
  }
  .checkbox {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 35px;
    height: auto;
    overflow: auto;
  }
  .validationMessage {
    position: relative;
    width: auto;
    text-align: left;
    line-height: normal;
    float: right;
    margin-right: 15px;
  }
  .form-control {
    width: 95%;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 18px;
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectable {
  -webkit-touch-callout: initial;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

.centered-child {
  display: inline-block;
}

.center-children {
  text-align: center;
}

.font-13 { 
  font-size: 13px;
}

.claim-badge-input {
  text-align: center;
}

.claim-badge-input-container {
  margin: 25px;
}

.preview-badge-container {
  width: 300px;
  margin-top:25px;
}

.preview-badge-thumbnail {
  width: 300px;
}

.preview-badge-name {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

.preview-badge-description {
  font-size:16px;
  text-align: center;
  margin-top: 20px;
}

#generalInfoForm {
  .validationMessage {
    text-align: left;
  }
}

.badge-category-heading {
  font-size: 16px;
  font-weight: bold;
}

.profile-avatar {
  border: 1px solid #ccc;
}
