#footer {
  position: relative;
  z-index: 1002;

  .language-picker {
    background: none;
    color: @cd-white;
    background: @cd-dark-grey;
    border: none;
    vertical-align: middle;
    &-icon {
      vertical-align: middle;
    }
  }

  a.translate-link {
    text-decoration: none;
    line-height: 24px;
    font-size: 16px;
    display: block;
    text-align: right;
  }
}
