#header {
  baackground: white;
  position: relative;
  z-index: 900;
}
.header-container{
  text-align: center;
}
.cd-logo {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  height: 4em;
  width: 14em;
  background-size: contain;
}
.cd-logo-container {
  display: inline-block;
  margin: 25px 0px 10px 5px;
  padding-right: 0px;
  float: left;
  width: auto;
}
.cd-user-name {
  &:extend(.cp-pn-reg);
  float: right;
  text-align: right;
  color: #f1f1f1;
  font-size: 14px;
  width:200px;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}
.cd-user-name-container{
  text-align: center;
}
.cd-header-button {
  width: 10em;
  margin-right: -4px;
  display: inline-block;
  text-align: center;
  color: white;
  padding: 5px;
  line-height: 1.8em;
  height: 2.6em;
  font-size: 14px;
  cursor: pointer;
}
.cd-header-button a {
  color: white;
  font-size: 14px;
}
.cd-register {
  background-color: #61C93F;
}
.cd-logout {
  background-color: #2E7AC7;
}
.cd-dojolist-button {
  background-color: #61C93F;
}
.cd-mydojos-button {
  background-color: #2E7AC7;
}
.cd-createdojo-button {
  background-color: #FBCC33;
}
.cd-managedojos-button {
  background-color: #ED462F;
}
.cd-stats-button {
  background-color: #2C9CFB;
}
.cd-header-text {
  color:white;
  font-weight:bold;
  font-size:13px;
  text-decoration:none;
  cursor:pointer;
  &:hover {
    text-decoration:underline;
    color:white;
  }
  &:focus {
    text-decoration:none;
    color:white;
  }
}

.language-selector {
  width:14.5em;
  float:right;
  margin-top: 5px;
  display: inline-block;
}

.alert-message{

  &.active {
    min-height: 45px;
    height: auto !important;
    line-height: 20px;
    text-align: left;
  }

  .container{
    padding-top:10px;
    padding-bottom:10px;
  }

  p{
    width: 95%;
    display: inline-block;
  }
}

.a-no-float{
  float:none !important;
  &:hover{
    text-decoration: underline !important;
  }
}
