#header {
  background: #13181a;
  height: 46px;
  width: 100%;
  -webkit-box-shadow: inset 0 -1px rgba(0, 86, 132, 0.8), 0 1px 3px rgba(0, 86, 132, 0.4);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 86, 132, 0.8), 0 1px 3px rgba(0, 86, 132, 0.4);
  box-shadow: inset 0 -1px 0 rgba(0, 86, 132, 0.8), 0 1px 3px rgba(0, 86, 132, 0.4);
  position: fixed;
  z-index: 900;
}
.cd-logo {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  height: 23px;
  width: auto;
  background-size:contain;
}
.cd-logo-container {
  padding-top: 12px;
}
.cd-user-name-container {
  line-height: 46px;
}
.cd-user-name {
  &:extend(.cp-pn-reg);
  float: right;
  text-align: right;
  color: #f1f1f1;
  font-size: 14px;
}
.cd-logout {
  &:extend(.cp-pn-reg);
  float:right;
  text-align:right;
  color:#f1f1f1;
  font-size:14px;
  cursor:pointer;
  margin-left: 5px;
}
