.cd-application-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -16px;

  &__placeholder {
    text-align: center;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  &__header-text {
    flex: 1;
  }
}
