cd-sad-review {
  display: block;
}
.cd-sad-review {
  display: flex;
  align-items: flex-start;
  align-content: space-around;
  flex-wrap: wrap;
  & > * {
    @media (min-width: @screen-sm-min) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  cd-expanding-card {
    @card-size: 8px;
    flex-basis: 100%;
    .cd-expanding-card__info {
      margin: @card-size 0;
      .cd-expanding-card__header-main::before {
        height: calc(100% + @card-size);
      }
    }
    expanding-card-icon {
      span {
        display: inline-block;
        position: absolute;
        right: 16px;
        .fa {
          // width: 64px; // @fa-2x-size
          width: 24px;
          text-align: center;
          border-radius: 100%;
          background-color: @cd-white;
        }
      }
    }
  }
}
