.btn.btn-main {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  &[disabled] {
    background-color: @cd-very-light-gray;
    color: @cd-black;
    cursor: not-allowed;
  }
}

.btn {
  .fa:not(:only-child){
    margin-right: 1em;
  }
}
.btn-block-xs {
  @media (max-width: @screen-xs-max){
    width: 100%;
    display: block;
  }
}

.btn-row {
  margin-top: 2em;
  margin-bottom: 2em;
}
