.__contact{
  & > div {
    margin-top : 1em;
  }
  word-break: break-all;
  @media (max-width: @screen-sm-max) {
    text-align: center;
  }
  .fa {
    margin-right: 1em;
  }
}

@media (min-width: @screen-xs-max){
  .__dojo-name {
    position: absolute;
    bottom: 30%;
    left: 30%;
  }
}

.__dojo-website {
  .fa {
    color: @cd-gray;
  }
}
.__dojo-name, .__dojo-website > a {
  color: @cd-white;
  z-index: 100;
}
.popover {
  color: @cd-black;
}

.__ribbon {
  z-index: 5;
  float: left;
  margin: 10px 0 0 -2px;
  clear: left;
  position: relative;
  box-shadow: -2px 2px 7px rgba(0,0,0,.4);
  &.--vertical-right {
    @width: .5em;
    @height: 1em;
    clear: none;
    float: right;
    margin: -2px 10px 0 0;
    padding: @height @width;
    text-align: center;
    width: (5 * @width);
    @media (max-width: @screen-sm-min) {
      @width: .25em;
      @height: .5em;
      padding: @height @width;
      width: (10 * @width);
    }
  }
  &.--success {
    background-color: @state-success-bg;
    color: @state-success-text;
  }
  &.--info {
    background-color: @cd-light-gray;
    color: @state-info-text;
  }


}
