@card-opening-speed: 0.2s;

.cd-expanding-card {
  background: @cd-white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  margin: 16px;
  overflow: hidden;
  position: relative;
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;

  &__expand-button {
    cursor: pointer;
    position: absolute;
    top: 138px;
    right: 16px;
    transition: transform @card-opening-speed ease-in-out;
    color: @cd-purple;
  }

  &__hero-image {
    background-size: cover;
    transform: translateY(-86px);
    transition: transform @card-opening-speed ease-in-out, height @card-opening-speed ease-in-out;
    margin-bottom: -96px;
    height: 96px;
    background: @cd-purple;
  }

  &__round-image {
    border-radius: 100% !important;
    margin: 0 32px;
    overflow: hidden;
    width: 128px;
    height: 128px;
    transition: transform @card-opening-speed ease-in-out;
    transform-origin: left center;
    transition-delay: 0.1s
  }

  &__info {
    display: flex;
    margin: 32px 0 22px 0;
    height: 128px;
  }

  &__header {
    flex: 1;
    transition: transform @card-opening-speed ease-in-out;
    transition-delay: 0.1s;
    h1 {
      transition: color @card-opening-speed ease-in-out;
    }

    &:first-child {
      margin-left: 32px;
    }
  }

  &__sub-title-1 {
    display: inline-block;
    margin-right: 32px;
  }

  &__sub-title-2 {
    color: #666;
  }

  &__card-content {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height @card-opening-speed ease-in-out;
    &-size-wrapper {
      padding: 16px;
    }
  }

  &[data-expanded=collapsed], &[data-expanded=expanding] {
    .cd-expanding-card {
      &__card-content {
        transition: opacity @card-opening-speed @card-opening-speed ease-in-out, height @card-opening-speed ease-in-out;
      }

    }
  }

  &[data-expanded=expanding], &[data-expanded=expanded] {
    box-shadow: 0px 10px 15px rgba(0,0,0,0.2);
    transform: translateY(-5px);

    .cd-expanding-card {
      &__expand-button {
        transform: rotate(180deg) translateY(-10px);
      }

      &__hero-image {
        transform: translateY(0);
        height: 140px;
      }

      &__round-image {
        transform: scale(1.5, 1.5);
      }

      &__header {
        transform: translateX(64px);

        &:first-child {
          transform: translateX(0);
        }
      }

      &__header h1 {
        color: #fff;
      }

      &__card-content {
        opacity: 1;
      }
    }
  }

  &[data-expanded=collapsing], &[data-expanded=collapsed] {
    cursor: pointer;

    &:hover {
      box-shadow: 0px 10px 15px rgba(0,0,0,0.2);
      transform: translateY(-5px);
    }
  }

  &[data-expanded=expanded], &[data-expanded=collapsing] {
    .cd-expanding-card {
      &__expand-button {
        transform: rotate(180deg) translateY(-10px);
      }

      &__hero-image, &__profile-image, &__header, &__header h1 {
        transition-delay: @card-opening-speed;
      }

      &__card-content {
        transition: opacity @card-opening-speed ease-in-out, height @card-opening-speed @card-opening-speed ease-in-out;
      }
    }
  }

  &[data-expanded=expanded] {
    .cd-expanding-card {
      &__card-content {
        overflow: visible;
      }
    }
  }
}
