.cd-profile {
  .static-info {
    padding-top: 7px;
    height: 20px;
  }
  &__general-info {
    &-linkedin, &-twitter {
      & .has-error .input-group-addon {
        border-color: 1px solid #ccc;
        background-color: #eee;
      }
      & .input-group.has-error {
        label.control-label.has-error.validationMessage {
          display: none;
        }
      }
    }
  }
}
