cd-sad-champion {
  display: block;
}
.cd-sad-champion {
  display: flex;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  & > * {
    @media (min-width: @screen-sm-min) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  &__intro {
    width: 100%;
    p {
      font-size: 16px;
      padding: 8px 8px;
    }
  }
  &__side-form {
    flex: 1;
    flex-basis: 100%; 
    flex-wrap: wrap;
    &-parent {
      flex: 1;
    }
  }
  &__bottom-form {
    flex: 1;
    flex-basis: 100%;
  }
  &__reference {
    &-label {
      display: block;
    }
    &-choice {
      padding-left: 0px;
    }
  }
  &__social-network {
    flex-wrap: wrap;
    .form-group {
      .input-group-addon {
        background-color: @cd-alt-white;
        padding: 6px 6px;
      }
    }
  }
  &__sliders {
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-bottom: @form-group-margin;
    & .rz-tick-legend {
      white-space: nowrap;
    }
  }
  &__slider {
    margin-bottom: 20px;
    & .rzslider {
      max-width: 300px;
      & .rz-selection, & .rz-pointer, .rz-tick.rz-selected{
        background-color: @cd-blue;
      }
    }
  }

}
