cd-sad-champion {
  display: block;
}
.cd-sad-champion {
  display: flex;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  & > * {
    padding-left: 8px;
    padding-right: 8px;
  }
  &_video {
    flex: 1;
    text-align: center;
  }
  &_side-form {
    flex: 1;
  }
  &_bottom-form {
    flex: 1;
    flex-basis: 100%;
  }
  &_social-network {
    // display: flex;
    // justify-content: space-between;
    //
  }
}
