cd-start-dojo {
  .cd-sidebar {
    &__headers {

      & > * {
        color: @cd-white;
      }
      background-color: @cd-light-purple;
    }

    &__header {
      background-color: @cd-purple;
    }

    &__tab-header {
      color: @cd-white;
    }
  }
  .ng-invalid { // While not being blocking, we want it to be displayed clearly
    border-color: #a94442;
  }
  // TODO : recover any reusable sub-part of content (side + video + btn-group)
}
