cd-start-dojo {
  .cd-sidebar {
    &__headers {

      & > * {
        color: @cd-white;
      }
      background-color: @cd-light-purple;
    }

    &__header {
      background-color: @cd-purple;
    }

    &__tab-header {
      color: @cd-white;
    }
  }
}
